---
const { href, title, image, date,desc } = Astro.props;
---

<a href={href} class="rounded-md shadow-md p-2 flex flex-col gap-2">
  <p class="text-xs font-semibold">{new Date(date).toLocaleString()}</p>
  <img src={image} alt={title} class="w-full rounded-md" title={desc}/>
  <h1>
    {title}
  </h1>
</a>
