---
export function getStaticPaths() {
  return [
    { params: { kategori: "nasional" } },
    { params: { kategori: "terbaru" } },
    { params: { kategori: "internasional" } },
    { params: { kategori: "ekonomi" } },
    { params: { kategori: "olahraga" } },
    { params: { kategori: "teknologi" } },
    { params: { kategori: "hiburan" } },
    { params: { kategori: "gayaHidup" } },
  ];
}
import { getNews } from "../../api/getBerita";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
const { kategori } = Astro.params;
const getData = async () => {
  const data = await getNews(kategori);
  return data.data.posts;
};
const data = await getData();
---

<Layout title={`A-News | Berita Terkini -  ${kategori}`}>
  <div class="grid grid-cols-3 gap-2 w-3/4 m-auto py-10">
    {
      data.map(
        (e: {
          title: string;
          thumbnail: string;
          pubDate: string;
          link: string;
          description: string;
        }) => (
          <Card
            title={e.title}
            image={e.thumbnail}
            date={e.pubDate}
            href={e.link}
            desc={e.description}
          />
        )
      )
    }
  </div>
</Layout>
